@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1258px;
  }
}

@media (min-width: 768px) {
  .col-md-6,
  .col-md-4 {
    flex: 1 !important;
  }
}

button.btn-secondary {
  border-radius: 5px;
}

.modal-body {
  .form-row {
    display: flex;
    gap: 0 10px;
  }
}

.form-group,
.form-row {
  margin-bottom: 10px;

  label {
    margin-bottom: 8px;
  }
}

.img-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  color: #ccc;

  img {
    width: auto;
    height: 100%;
  }
}

.upload {
  .label-upload {
    display: inline-flex;
    align-items: center;
    gap: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    cursor: pointer;

    &:hover {
      background-color: #dbdada;
    }
  }
}
