$color_1: #424242;

.m-t-5 {
  margin-top: 5px;
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: 0.5s;
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
  .body {
    font-size: 14px;
    color: $color_1;
    padding: 20px;
    font-weight: 400;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .lable-title {
    font-size: 18px;
  }
}

.profile-page {
  .profile-header {
    position: relative;

    .profile-image {
      display: flex;
      justify-content: center;
      align-items: center;

      .avatar {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        object-fit: cover;
        object-position: center;
      }
    }
    .social-icon {
      a {
        margin: 0 5px;
      }
    }
  }

  .profile-sub-header {
    min-height: 60px;
    width: 100%;

    ul.box-list {
      display: inline-table;
      table-layout: fixed;
      width: 100%;
      background: #eee;

      li {
        border-right: 1px solid #e0e0e0;
        display: table-cell;
        list-style: none;

        &:last-child {
          border-right: none;
        }
        a {
          display: block;
          padding: 15px 0;
          color: $color_1;
        }
      }
    }
  }
}
