.detail-quiz-container {
  width: 100%;
  padding: 50px;
  gap: 0 30px;
  display: flex;

  .left-content {
    width: 70%;
    border: 1px solid red;
  }

  .right-content {
    width: 30%;
    border: 1px solid blue;
  }
}

.left-content {
  .q-content {
    margin-top: 50px;
  }
  .q-footer {
    display: flex;
    justify-content: center;
    gap: 0 10px;
  }
}

.question {
  padding: 0 20px;

  .question-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px 0 10px 20px;
  }

  .answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 18px;
  }
}
