.sign-up-container {
  .sign-up-header {
    padding: 10px 30px;
    text-align: end;

    .header-desc {
      margin-right: 15px;
    }
  }

  .sign-up-body {
    display: flex;
    justify-content: center;
  }
}

.sign-up-wapper {
  min-width: 550px;
  min-height: 500px;
  margin-top: 110px;

  .sign-up-heading {
    text-align: center;
  }
}

.sign-up-content {
  padding: 20px 72px;

  .sign-up-title {
    font-size: 1.3rem;
    text-align: center;
  }

  .form-group {
    position: relative;
    margin-top: 25px;

    .eyes {
      position: absolute;
      right: 10px;
      top: 52%;
      cursor: pointer;
    }
  }

  .btn-dark {
    width: 100%;
    margin-top: 30px;
  }
}
